/vendor/
/node_modules/
.idea/
composer.lock
.env*
.phpunit*
*lock*
/public/
/front/assets/photo/
/front/assets/log/
/_docs/
/app/


/apache-logs
#Dockerfile
#apache-vhost.conf
#docker-compose.yml
#php-custom.ini

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
