@use 'reset';
@use 'autocomplete';

/* Основные стили для пунктов меню */
.navbar-nav .nav-link {
  font-size: 1.1rem; /* Увеличенный размер шрифта */
  color: #e3f2fd !important; /* Контрастный светло-голубой */
  transition: color 0.3s ease;
  padding: 0.7rem 1rem;
}

/* Активный пункт меню */
.navbar-nav .nav-link.active {
  font-weight: 700; /* Жирный шрифт */
  color: #ffd54f !important; /* Янтарно-желтый цвет */
}

/* Наведение мыши */
.navbar-nav .nav-link:hover {
  color: #ffffff !important; /* Белый цвет при наведении */
}

/* Для Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

